<!DOCTYPE html>
<html>

<head>
	<title>Bagó Database</title>
	<link rel="shortcut icon" type="image/x-icon" href="/img/titleicon.png">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<%- include('../bootstrap.html') %>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/ventas.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<%- include('repscripts.html'); %>

	<script type="text/javascript">
		$(document).ready(function () {

			$('.main-container').hide();
			$('.loadingMessage').hide();

			var dataClass = $.pivotUtilities.SubtotalPivotData;
			var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.plotly_renderers, $.pivotUtilities.subtotal_renderers);
			var aggregators = $.extend($.pivotUtilities.subtotal_aggregators, $.pivotUtilities.aggregators);

			var sqlIms = ('<%- sqlIms %>');

			$("#report1").pivotUI(
				JSON.parse(sqlIms), {
					dataClass: dataClass,
					aggregators: aggregators,
					rows: ['Laboratories'],
					cols: ['Year', 'Month'],
					aggregatorName: "Integer Sum",
					vals: ['USD'],
					inclusions: {
						'Laboratories': ['Bago', 'Lasca', 'Saval', 'Chile', 'Roemmers']
					},
					rendererName: "Line Chart",
					menuLimit: 10000,

				}
			);

			$("#report2").pivotUI(
				JSON.parse(sqlIms), {
					dataClass: dataClass,
					aggregators: aggregators,
					rows: ['Product', 'ATC', 'Molecule'],
					cols: ['Year', 'Month'],
					aggregatorName: "Integer Sum",
					rendererName: "Table With Subtotal",
					vals: ['USD'],
					inclusions: {
						'Laboratories': ['Bago']
					},
					menuLimit: 10000,
					rendererOptions: {
						collapseColsAt: 0,
						collapseRowsAt: 0,
					},
					rowOrder: "value_z_to_a",
				}
			);

			$("#report3").pivotUI(
				JSON.parse(sqlIms), {
					dataClass: dataClass,
					aggregators: aggregators,
					rows: ['ATCName'],
					cols: ['Year', 'Month'],
					aggregatorName: "Integer Sum",
					rendererName: "Table With Subtotal",
					vals: ['USD'],
					inclusions: {
						'Laboratories': ['Bago']
					},
					menuLimit: 10000,
					rendererOptions: {
						collapseColsAt: 0,
					},
					rowOrder: "value_z_to_a",
				}
			);

		});

		function showReport(reportName) {
			$('.main-container').fadeIn();
			$('.table-grid').fadeOut();
			$('#' + reportName).fadeIn();
		}
	</script>

</head>


<body>

	<div class="loadingMessage">
		<img src="img/bouncy.gif" alt="Loading">
	</div>
	<% admindashboard; %>
	<%- include('../header.ejs') %>

	<!--________________________MENU_______________________________________________ -->

	<nav class="navbar navbar-expand-lg navbar-dark menu">
		<button class="navbar-toggler btn-block" type="button" data-toggle="collapse" data-target="#menuSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse flex-column flex-sm-row" id="menuSupportedContent">
			<nav class="nav nav-pills flex-column flex-sm-row">
				<a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#tab1">USD por Laboratorio</a>
				<a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#tab2">USD Por Productos</a>
				<a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#tab3">USD Por ATC</a>
			</nav>
		</div>
	</nav>

	<div class="container-fluid">
		<!--________________________CONTENT___________________________________________ -->
		<div class="tab-content">
			<div class="table-grid tab-pane fade" id="tab1">
				<div class="table-title">USD por Laboratorio</div>
				<div class="table-container" id="report1">
				</div>
			</div>
			<div class="table-grid tab-pane fade" id="tab2">
				<div class="table-title">USD Por Productos</div>
				<div class="table-container" id="report2">
				</div>
			</div>
			<div class="table-grid tab-pane fade" id="tab3">
				<div class="table-title">USD Por ATC</div>
				<div class="table-container" id="report3">
				</div>
			</div>
		</div>
	</div>
</body>

</html>