<div class="headerContainer">
	<div class="logobago-container">
		<a href="/"><img src="img/bago.png" class="logobago"></a>
	</div>
	<div class="titles">
		<div class="primaryTitle">SIG BAGO</div>
		<div class="secondaryTitle">Sistema de Información</div>
	</div>
	<a href="logout" class="logout"><div class="logout">Log Out</div></a>
</div>
<!--________________________NAVBAR_______________________________________________ -->
<div class="navbar-grid">
	<div class="navbar">
		<a href="ventas">
			<div class="navbarbutton" id="VentasButton">
				<i class="fa fa-money"></i>Ventas
			</div>
		</a>
		<a href="ims">
			<div class="navbarbutton" id="IMSButton">
				<i class="fa fa-bar-chart"></i>IMS
			</div>
		</a>
		<a href="closeup">
			<div class="navbarbutton" id="CloseUpButton">
				<i class="fa fa-pie-chart"></i>Close Up
			</div>
		</a>
		<a href="">
			<div class="navbarbutton" id="CoberturasUpButton">
				<i class="fa fa-black-tie"></i>Coberturas
			</div>
		</a>
	</div>
</div>