<html>

<head>

	<style>
		body {
			margin-left: 15%;
			width: 70%;
			text-align: justify;
			display: flex;
			justify-content: center;
			color: #222222;
		}

		.content-box {
			padding-left: 2%;
			padding-right: 2%;
			box-shadow: 10px 10px 10px 1px #999999;;
		}
		.header {
			color: white;
			background-color: #222222;
			padding: 1%;
			margin-bottom: 2%;
		}

		button {
			padding: 2%;
			background-color: #333333;
			border: none;
			color: white;
		}
	</style>

</head>

<body>
	<div class="content-box">
		<div class="header">
			<h1>Hola,
				<%= name %>!</h1>
			<h3>Por favor, haga click en el siguiente botón para crear una nueva contraseña</h3>
		</div>

		<a href="http://192.168.95.41:8080/login/setnewpassword?name=<%= name %>&email=<%= email %>&hash=<%= hash %>">
			<button>Set a New Password</button>
		</a>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</body>

</html>