<!DOCTYPE html>
<html>

<head>
	<title>Bagó Database</title>
	<link rel="shortcut icon" type="image/x-icon" href="/img/titleicon.png">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/form.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script>

		$(document).mousemove(function () {
			setTimeout(function () {
				$('.indexBackground').fadeOut();
				$('.particlescanvas').fadeIn();
				$('.indexBackground').css('opacity', 0.5);
			}, 500);
		});
	</script>

</head>

<body>
	<div class="indexBackground"></div>
		<!--________________________MAIN_______________________________________________ -->
		<div class="main-container">
			<div class="main-content">
				<div>
					<div class="formTitle">REQUEST AN ACCOUNT</div>
					<div class="formContainer">
						<form action="signin" method="post">
							<label>Name & Lastname</label><br>
							<input type="text" name="user[name]" placeholder="Name & Lastname" required autocomplete="off"><br>
							<label>E-mail</label><br>
							<input type="email" name="user[email]" placeholder="E-Mail Adress" required autocomplete="off"><br>
							<label>Password</label><br>
							<input type="password" name="user[password]" placeholder="Password" required><br>
							<label>Confirm Password</label><br>
							<input type="password" name="user[confirmpassword]" placeholder="Confirm Password" required><br>
							<input type="submit" value="Request">
						</form>
						<div>Or</div>
						<a href="login"><button>Log In</button></a>
						<div class="message">
							<%- message %>
						</div>
					</div>
				</div>
			</div>
			<!--<img src="img/net.gif" alt="Cube" class="maingif">-->
		</div>
	<!--<canvas class="particlescanvas"></canvas>
	<script src="js/particles.js"></script>
	<script type="text/javascript" src="js/particlesapp.js"></script>-->
</body>

</html>