body {
    background: url();
    background-color: black;
    overflow: hidden;
}

html, body {
    height: 100%;
    background-color: black;
}

.main-container {
    background-color: black;
    min-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: transparent;
}


.maingif {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    filter: hue-rotate(-35deg);
}

.main-container div {
    opacity: 1;
    z-index: 1;
    /*font-size: 4vh;*/
}

.main-container div img {
    filter: brightness(0) invert(1);
}

.main-content {
    width: 30vw;
}

.main-content img {
    width: 100%;
}