body {
	background-color:black;
	background-size: cover;
	overflow: hidden;
}

html, body {
	min-height: 100vh;
	margin: 0;
	overflow: auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.navbar-brand img {
	filter: brightness(0) invert(1);
	max-height: 45px;
}


.main-content div {
	width: 100%;
}