.loadingMessage {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: black;
	color: white;
	z-index: 3;
}

.loadingMessage img {
	height: 50%;
	filter: hue-rotate(-35deg);
}

table {
	text-align: center;
}

th {
	background-color: #333333;
	color: white;
}

.whiteTr {
	color: white;
	border: 1px solid gray;
}

table, th, td {
	font-size: 12px;
	padding: 5px;
	border-collapse: collapse;
	border: 1px solid gray;
}

.deleteUser {
	color: white;
	background-color: red;
}

.acceptUser {
	color: white;
	background-color: #206617;
}

select {
	border: none;
	color: white;
	background-color: #686868;
}

input[type=submit] {
	background-color: #206617;
	color: white;
	border: none;
}

input[type=submit]:hover {
	background-color: #133f0e;
}

select {
	width: 100%;
}

.menu {
	background-color: #25292c;
}

.queryFilter {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2vh;
}

.table-title {
	text-align: center;
	background-color: #262629;
	color: white;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.form-container {
	height: 4vh;
	color: white;
	background-color: #666666;
	overflow: show;
}

.table-form {
	height: 100%;
	display: grid;
	grid-auto-columns: auto;
	grid-auto-flow: column;
}

.filter {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter-name {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.filter-options {
	position: absolute;
	top: 100%;
	display: none;
	background-color: #666666;
	z-index: 2;
	width: 100%;
	text-align: center;
}

.filter:hover .filter-options {
	display: block;
}

.filter:hover .filter-name {
	background-color: #444444;
}

.table-container {
	height: 70vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	display: flex;
	justify-content: center;
	overflow: auto;
}


