<!DOCTYPE html>
<html>

<head>
	<title>Bagó Database</title>
	<link rel="shortcut icon" type="image/x-icon" href="/img/titleicon.png">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/bagodatabase.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/form.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script>

		$(document).mousemove(function () {
			setTimeout(function () {
				$('.indexBackground').fadeOut();
				$('.particlescanvas').fadeIn();
				$('.indexBackground').css('opacity', 0.5);
			}, 500);
		});
	</script>

</head>

<body>
	<div class="indexBackground"></div>
	<div class="main-grid">
		<!--________________________MAIN_______________________________________________ -->
		<div class="main-container">
			<div class="main-content">
				<div class="formTitle">RESEND VERIFICATION E-MAIL</div>
				<div class="formContainer">
					<form action="resendemail" method="post">
						<label>E-mail</label><br>
						<input type="email" name="user[email]" placeholder="E-mail Addres" required autocomplete="off" value="<%- email %>"><br>
						<label>Password</label><br>
						<input type="password" name="user[password]" placeholder="Password" required><br>
						<input type="submit" value="Send Verification E-mail">
					</form>
					<div class="message">
						<%- message %>
					</div>
				</div>
			</div>
			<img src="img/net.gif" alt="Cube" class="maingif">
		</div>

	</div>
	<!--<canvas class="particlescanvas"></canvas>
	<script src="js/particles.js"></script>
	<script type="text/javascript" src="js/particlesapp.js"></script>-->
</body>

</html>